<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AI Voice Assistant</title>

 
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logout">
     <form action="/logout" method="POST">
      <button type="submit" id="logoutButton">Logout</button>
      </form>
    </div>
  <div class="chat-wrapper">
    <div class="chat-container glass">
      <div class="chat-header">
        <h2>🩺 AI Medical Assistant</h2>
        <div id="connectionStatus">🟢 Connected</div>
      </div>
      <div id="chatMessages" class="chat-messages">
        <div class="message bot-message">
          Hi shashi ! I'm your AI voice assistant. How can i help you today.🤖
        </div>
      </div>
      <div class="chat-input-area">
        <input type="text" id="messageInput" placeholder="Type a message..." />
        <button id="micButton">🎙️</button>
        <button id="sendButton">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
               viewBox="0 0 24 24" fill="none" stroke="currentColor" 
               stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="22" y1="2" x2="11" y2="13"></line>
            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
          </svg>
        </button>
      </div>
    </div>
  </div>

  
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>